* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(119, 180, 113);
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main h1 {
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 2rem;
  margin: 2rem auto;
}
body main section.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main section.cover p.introduction {
  width: 500px;
  text-align: justify;
}
body main section.cover img.pasta {
  width: 500px;
  height: auto;
  border-radius: 1rem;
  margin: 1rem;
}
body main article {
  background-color: white;
  width: 500px;
  padding: 0.5rem 1.5rem;
  display: flex;
  flex-direction: column;
}
body main article section.ingredients {
  flex: 1 1 250px;
}
body main article section.ingredients h2 {
  margin-bottom: 0.5rem;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
body main article section.ingredients ul {
  margin-left: 1rem;
  line-height: 2rem;
}
body main article section.directions {
  flex: 1 1 400px;
}
body main article section.directions h2 {
  margin-bottom: 0.5rem;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
body main article section.directions section.steps h3 {
  margin: 0.5rem 0;
  font-size: 1rem;
}
body main section.container {
  width: 700px;
  height: 430px;
  background-color: white;
  display: flex;
  border-radius: 1rem;
}
body main section.container figure {
  margin: 1.5rem;
}
body main section.container figure img {
  width: 350px;
  height: auto;
}
body main section.container figure figcaption {
  text-align: center;
  color: grey;
}
body main section.container section.text {
  padding: 1.5rem 1.5rem 0 1.5rem;
  display: flex;
  flex-direction: column;
}
body main section.container section.text p {
  flex: 1 1 250px;
}
body main section.container section.text ul {
  flex: 1 1 180px;
  margin-left: 1rem;
}
body main section.container section.text ul li {
  padding: 0.5rem 0;
}
body main section.container section.text ul li a {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-decoration: none;
  color: rgb(58, 87, 55);
  font-size: 1rem;
  font-weight: 700;
  transition: all 0.1s ease-in;
}
body main section.container section.text ul li a:hover {
  color: rgb(166, 96, 232);
}
body footer {
  margin-top: 2rem;
  text-align: center;
}
body footer a {
  transition: all 0.1s ease-in;
  text-decoration: none;
  color: black;
}
body footer a:hover {
  color: rgb(203, 232, 96);
}

@media screen and (max-width: 400px) {
  body main section.cover p.introduction {
    width: 300px;
  }
  body main section.cover img.pasta {
    width: 300px;
  }
  body main article {
    width: 300px;
  }
  body main section.container {
    flex-direction: column;
    width: 300px;
    height: 700px;
  }
  body main section.container figure {
    flex: 0 1 250px;
  }
  body main section.container figure img {
    width: 250px;
    height: auto;
  }
  body main section.container section.text {
    flex: 1 1 450px;
    padding: 0 1.5rem 0 1.5rem;
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */